CREATE DATABASE [UmobGameHub]
GO
USE [UmobGameHub]
GO
/****** Object:  Table [dbo].[GameAttemptQuestionOptions]    Script Date: 5/28/2026 22:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameAttemptQuestionOptions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GameAttemptQuestionId] [bigint] NOT NULL,
	[OptionKey] [varchar](5) NOT NULL,
	[OptionValue] [nvarchar](500) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[IsCorrect] [bit] NOT NULL,
 CONSTRAINT [PK_GameAttemptQuestionOptions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameAttemptQuestions]    Script Date: 5/28/2026 22:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameAttemptQuestions](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[GameAttemptId] [bigint] NOT NULL,
	[QuestionsTemplatesId] [bigint] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[IsAnswered] [bit] NOT NULL,
 CONSTRAINT [PK_GameAnswers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GameAttempts]    Script Date: 5/28/2026 22:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GameAttempts](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Score] [int] NOT NULL,
	[IsWon] [bit] NULL,
	[StartedOn] [datetime] NOT NULL,
	[EndedOn] [datetime] NULL,
	[DurationSeconds] [int] NOT NULL,
 CONSTRAINT [PK_GameAttempts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GbfsProviders]    Script Date: 5/28/2026 22:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GbfsProviders](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[City] [varchar](50) NOT NULL,
	[CountryCode] [varchar](50) NOT NULL,
	[GbfsAutoDiscoveryUrl] [nvarchar](1000) NOT NULL,
	[SystemId] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
 CONSTRAINT [PK_Gbfs_Provider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderFeeds]    Script Date: 5/28/2026 22:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderFeeds](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FeedName] [nvarchar](50) NOT NULL,
	[Url] [nvarchar](max) NOT NULL,
	[ProviderId] [bigint] NOT NULL,
 CONSTRAINT [PK_ProviderFeeds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionsTemplates]    Script Date: 5/28/2026 22:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionsTemplates](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[TextTemplate] [nvarchar](500) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[StrategyType] [varchar](250) NOT NULL,
 CONSTRAINT [PK_QuestionTemplate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionTemplateGbfsFields]    Script Date: 5/28/2026 22:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionTemplateGbfsFields](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FeedName] [nvarchar](max) NULL,
	[QuestionTemplateId] [bigint] NOT NULL,
	[CollectionPath] [nvarchar](max) NULL,
	[FieldName] [nvarchar](max) NULL,
	[CreatedOn] [datetime] NULL,
	[ProviderFeedsId] [bigint] NOT NULL,
 CONSTRAINT [PK_QuestionTemplateGbfsFields] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 5/28/2026 22:43:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](100) NOT NULL,
	[PasswordHash] [varchar](500) NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[ModifiedOn] [datetime] NULL,
	[Email] [varchar](250) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GameAttemptQuestions] ADD  CONSTRAINT [DF_GameAttemptQuestions_IsAnswered]  DEFAULT ((0)) FOR [IsAnswered]
GO
ALTER TABLE [dbo].[GameAttempts] ADD  CONSTRAINT [DF_GameAttempts_Score]  DEFAULT ((0)) FOR [Score]
GO



--INSERT DATA
USE [UmobGameHub]
GO
SET IDENTITY_INSERT [dbo].[GbfsProviders] ON 
GO
INSERT [dbo].[GbfsProviders] ([Id], [Name], [City], [CountryCode], [GbfsAutoDiscoveryUrl], [SystemId], [IsActive], [CreatedOn]) VALUES (2, N'	Careem BIKE', N'Dubai', N'AE', N'https://careem.publicbikesystem.net/customer/gbfs/v3.0/gbfs.json', N'careem_bike', 1, CAST(N'2026-05-28T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[GbfsProviders] ([Id], [Name], [City], [CountryCode], [GbfsAutoDiscoveryUrl], [SystemId], [IsActive], [CreatedOn]) VALUES (3, N'Dott Abu Dhabi', N'Dubai', N'AE', N'https://gbfs.api.ridedott.com/public/v2/abu-dhabi/gbfs.json', N'dott-abu-dhabi', 1, CAST(N'2026-05-28T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[GbfsProviders] ([Id], [Name], [City], [CountryCode], [GbfsAutoDiscoveryUrl], [SystemId], [IsActive], [CreatedOn]) VALUES (4, N'	Dott Dubai Hills', N'Dubai', N'AE', N'https://gbfs.api.ridedott.com/public/v2/dubai-hills/gbfs.json', N'dott-dubai-hills', 1, CAST(N'2026-05-28T00:00:00.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[GbfsProviders] OFF
GO
SET IDENTITY_INSERT [dbo].[ProviderFeeds] ON 
GO
INSERT [dbo].[ProviderFeeds] ([Id], [FeedName], [Url], [ProviderId]) VALUES (1, N'station_status', N'https://careem.publicbikesystem.net/customer/gbfs/v3.0/station_status', 1)
GO
INSERT [dbo].[ProviderFeeds] ([Id], [FeedName], [Url], [ProviderId]) VALUES (2, N'station_status', N'https://gbfs.api.ridedott.com/public/v2/abu-dhabi/station_status.json', 2)
GO
INSERT [dbo].[ProviderFeeds] ([Id], [FeedName], [Url], [ProviderId]) VALUES (4, N'station_status', N'https://careem.publicbikesystem.net/customer/gbfs/v3.0/station_status', 3)
GO
SET IDENTITY_INSERT [dbo].[ProviderFeeds] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionsTemplates] ON 
GO
INSERT [dbo].[QuestionsTemplates] ([Id], [TextTemplate], [IsActive], [CreatedOn], [StrategyType]) VALUES (2, N'What is the numbe of available bike in stationId 2 for Careem BIKE provider in Dubai?', 1, CAST(N'2026-05-28T00:00:00.000' AS DateTime), N'DirectValue')
GO
INSERT [dbo].[QuestionsTemplates] ([Id], [TextTemplate], [IsActive], [CreatedOn], [StrategyType]) VALUES (3, N'What is the max numbe of available bike in Dubai?', 1, CAST(N'2026-05-28T00:00:00.000' AS DateTime), N'MaxValue')
GO
SET IDENTITY_INSERT [dbo].[QuestionsTemplates] OFF
GO
SET IDENTITY_INSERT [dbo].[QuestionTemplateGbfsFields] ON 
GO
INSERT [dbo].[QuestionTemplateGbfsFields] ([Id], [FeedName], [QuestionTemplateId], [CollectionPath], [FieldName], [CreatedOn], [ProviderFeedsId]) VALUES (1, N'station_status', 2, N'data.stations', N'num_vehicles_available', CAST(N'2026-05-28T00:00:00.000' AS DateTime), 1)
GO
INSERT [dbo].[QuestionTemplateGbfsFields] ([Id], [FeedName], [QuestionTemplateId], [CollectionPath], [FieldName], [CreatedOn], [ProviderFeedsId]) VALUES (2, N'station_status', 3, N'data.stations', N'num_vehicles_available', CAST(N'2026-05-28T00:00:00.000' AS DateTime), 2)
GO
INSERT [dbo].[QuestionTemplateGbfsFields] ([Id], [FeedName], [QuestionTemplateId], [CollectionPath], [FieldName], [CreatedOn], [ProviderFeedsId]) VALUES (4, N'station_status', 3, N'data.stations', N'num_vehicles_available', CAST(N'2026-05-28T00:00:00.000' AS DateTime), 4)
GO
SET IDENTITY_INSERT [dbo].[QuestionTemplateGbfsFields] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 
GO
INSERT [dbo].[Users] ([Id], [Username], [PasswordHash], [CreatedOn], [ModifiedOn], [Email]) VALUES (1, N'bita', N'AQAAAAIAAYagAAAAEKEUzrWNa5iV66f/EbSKMN1by2Xmi5o+HfGkNd3vouxlweCl4FQmIyqd3WePh3ATIw==', CAST(N'2026-05-27T01:42:30.120' AS DateTime), CAST(N'2026-05-27T01:42:30.277' AS DateTime), N'bita@example.com')
GO
SET IDENTITY_INSERT [dbo].[Users] OFF
GO



